@import '../../style/variables.scss';

.lists {
  margin-top: 30px;
  background-color: $bgc-second;
  padding: 30px 80px;
  border-radius: 10px;
}

.list {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  &__button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    color: $text-color;
    background: none;
  }

  &__button-active {
    color: $accent-text-color;
    border-bottom: 2px solid $blue;
  }
}

.items {  
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}